# ARCHIVE - Source Files Configuration

# Copyright (C) Sport Trades Ltd
# 2016

# Each row of this file must contain
#   - The file path (or partial file path) of the files you want to archive
#       > If the file contains a date in YYYYMMDD format and you wish to archive by time period, you should use {BBDATE} to represent that here
#   - The number of time frequency's to go back. (e.g. 1,month, = archive files from previous month)
#   - The frequency with which to archive. Must be one of "day", "month" or "year"
#       > NOTE: If {BBDATE} is not specified in path, this configuration is ignored. Backup will occur for the
#       whole path every time the script is run
#   - Archive configuration. One of:
#       > "archive-delete" : Archive the specified files AND delete source after successful archive
#       > "archive-keep" : Archive the specified files and keep source
#       > "delete-only" : NO archive, just delete files
#
# Lines beginning with # or space are ignored from the configuration
#
# path-regex,period,frequency,how-to-archive
